body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    height: 100vh;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&auto=format&fit=crop&w=1470&q=80');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
div{
    position: relative;
    top: 30%;
    background-color: wheat;
    height: 10%;
    text-align: center;
    padding: 20px;
}

span{
    display: flex;
    letter-spacing: 8px;
    height: 50px;
    align-items: center;
    padding: 10px;
    background-color: grey;
    font-size: xx-large;
    color: white;
    opacity: 0.8;
    /* text-shadow: 29px 29px 29px 20px  black; */
}
#i{
    font-weight: 550;
}