body {
    font-size: 15pt;
    background: grey;
}
main{
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
}
div{
    background: white;
    opacity:70%;
    width: 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 20px;
    box-shadow: 5px 5px 30px black;
    
}

form{
    align-items: center;
    align-content: center;
    justify-items: center;
    padding: 20px;
    
}

button{
    align-content: end;
    justify-content: end;
    align-items: end;
    margin-left: 80%;
    width: 80px;
    background: red;
    color: white;
    border: 1px solid black;
    height: 25px;
}

#name{
    
}
#lname{
    display: flexbox;
    justify-items: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    
}
input{
    text-decoration: none;
    border: none;
    border-bottom: 1px solid black;
}
label{
    font-weight: 500;
}
textarea{
    width: 100%;
    height:50px;
}